body {
    background-color: #f7f7f7;
}

h1, h2, h3 {
    font-weight: bold;
}
/** Banner Styles **/
.banner{
    width: 100%;
    height: 300px;
    background-image: url(../img/Imagen1.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .container{
    transition: transform 0.3s ease;
}
.banner .container:hover {
    transform: scale(1.05);
}

.banner h1 {
    color: #ffffff;
    font-size: 68px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner p {
    color: #ffffff;
    font-size: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

